In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('Practice_File_1.csv')

In [16]:
df.shape

(32, 13)

In [17]:
df.tail(2)

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.57,14.6,0.0,1.0,5.0,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.78,18.6,1.0,1.0,4.0,2

In [18]:
df.head(2)

,Unnamed: 0,vichle_names,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.9,2.620,16.46,0.0,1.0,4.0,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.9,2.875,17.02,0.0,1.0,4.0,4

In [30]:
df.isnull().sum()

Unnamed: 0      0
vichle_names    0
mpg             2
cyl             0
disp            0
hp              1
drat            1
wt              0
qsec            3
v_Shape         2
am              4
gear            3
carb            0
dtype: int64

In [35]:
(df.isnull().sum()/df.shape[0])*100

Unnamed: 0       0.000
vichle_names     0.000
mpg              6.250
cyl              0.000
disp             0.000
hp               3.125
drat             3.125
wt               0.000
qsec             9.375
v_Shape          6.250
am              12.500
gear             9.375
carb             0.000
dtype: float64

In [37]:
df.isnull().mean()

Unnamed: 0      0.00000
vichle_names    0.00000
mpg             0.06250
cyl             0.00000
disp            0.00000
hp              0.03125
drat            0.03125
wt              0.00000
qsec            0.09375
v_Shape         0.06250
am              0.12500
gear            0.09375
carb            0.00000
dtype: float64

In [42]:
df.to_json('newJSON.json')