In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [3]:
db = client.test

In [4]:
student = db.student

In [10]:
std_det = {
    'Name':'Integer Course',
    'program':123,
    'city':'Toronto'
}

In [11]:
result = student.insert_one(std_det)

In [12]:
print(result.inserted_id)

647e6144653f9587f7d551a2

In [45]:
dbList = client.list_database_names()
print(dbList)

['admin', 'config', 'local', 'studentDetails', 'test']

In [30]:
print(type(client.list_database_names()))

<class 'list'>

In [41]:
dbName = 'test'
if dbName in dbList:
    print("The '{}' db exists.".format(dbName))
else:    
    print("The '{}' db does not exists.".format(dbName))

The 'test' db exists.

In [40]:
collection_list = db.list_collection_names()
collectionName = 'student1'
if collectionName in collection_list:
    print("Collection '{}' exist in the db".format(collectionName))
else:
    print("Collection '{}' does not exist in the db".format(collectionName))

Collection 'student1' does not exist in the db

In [14]:
x = student.find_one()

In [12]:
print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}

In [14]:
std_mul = [
{
    'Name':'Rahul',
    'program':'AIML',
    'city':'Toronto'
},
{
    'Name':'Dev',
    'program':'AIML',
    'city':'Toronto'
},
{
    'Name':'Jagpreet',
    'program':'AIML',
    'city':'Toronto'
}
]

In [15]:
result = student.insert_many(std_mul)

In [16]:
print(result)

<pymongo.results.InsertManyResult object at 0x000002910B61BCA0>

In [15]:
for x in student.find():
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c1'), 'Name': 'Dev', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c2'), 'Name': 'Jagpreet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647e6144653f9587f7d551a2'), 'Name': 'Integer Course', 'program': 123, 'city': 'Toronto'}

In [26]:
for x in student.find().limit(3):
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c1'), 'Name': 'Dev', 'program': 'AIML', 'city': 'Toronto'}

In [73]:
result = student.find()

for i,j in enumerate(result,0):
    if i < 2:
        print(j)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}

In [74]:
print(result)

<pymongo.cursor.Cursor object at 0x000002321B9AA440>

In [51]:
for x in student.find({},{'_id':1, "Name":1}):
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul'}
{'_id': ObjectId('647bb277d200223376e712c1'), 'Name': 'Dev'}
{'_id': ObjectId('647bb277d200223376e712c2'), 'Name': 'Jagpreet'}

In [58]:
for x in student.find({"Name":{"$ne":"Prabhjeet"}}):
    print(x)

{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c1'), 'Name': 'Dev', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c2'), 'Name': 'Jagpreet', 'program': 'AIML', 'city': 'Toronto'}

In [26]:
for x in student.find({"Name":{"$eq":"prabhjeet"}}):
    print(x)

#### Expirement with empty DBs

In [47]:
db1 = client.emptyDB
newCollection = db1.employee

In [54]:
client.list_database_names()  # Database emptyDB will not appear as it does not have any record yet

['admin', 'config', 'local', 'studentDetails', 'test']

In [53]:
print(db1.list_collection_names())

[]

In [56]:
x = student.find_one()
print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}

In [91]:
# Print only specified fields
for x in student.find({},{"_id":0,"Name":1,"city":1})[:2]:
    print(x)

{'Name': 'Prabhjeet', 'city': 'Toronto'}
{'Name': 'Rahul', 'city': 'Toronto'}

In [92]:
# Do not Print the specified fields
for x in student.find({},{"_id":1,"Name":0,"city":0})[:2]:
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'program': 'AIML'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'program': 'AIML'}

#### **Advanced MongoDB query**

##### *Equality Operator*

In [111]:
query = {'program':'AIML'}
result = student.find(query).limit(2)
for x in result:
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}

##### *regex Operations*

In [123]:
student.insert_one({
    'Name':'Aleen',
    'program':'AIML',
    'city':'Toronto'
})

In [121]:
query = {'Name':{"$regex":"^S"}}  ### Statring with char S
result = student.find(query)
for x in result:
    print(x)

{'_id': '647ab4b8d200223376e712bf', 'Name': 'Sumit', 'program': 'AIML', 'city': 'Toronto'}
{'_id': "ObjectId('647e6144653f9587f7d551a2')", 'Name': 'Sumit1', 'program': 'AIML', 'city': 'Toronto'}

In [131]:
query = {'Name':{"$regex":"l", '$options' : 'i'}}  ### containing char l in both cases
result = student.find(query)
for x in result:
    print(x)

{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647e7c2a653f9587f7d551a3'), 'Name': 'ALLen', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647e7c30653f9587f7d551a4'), 'Name': 'Aleen', 'program': 'AIML', 'city': 'Toronto'}

##### *AND Operator*

In [134]:
query = {'$and':[{'program':'AIML'},
                 {'Name':'Prabhjeet'}]}
result = student.find(query)
for x in result:
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}

In [156]:
query = {'$and':[{'address':{"$regex": "^Y", '$options' : 'i'}},   ### Addresss starts with Y and is should have 1 
                  {'address':{"$regex": "1"}}]}
result = student.find(query)
for x in result:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [165]:
query = {'$or':[{'name':{"$regex": "^N"}},
            {'$and':[{'address':{"$regex": "^Y"}},{'address':{"$regex": "1"}}]}
                ]
}
result = student.find(query)
for x in result:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [166]:
query = {'$and':[{'address':{"$regex": "^Y"}},   ### Addresss starts with Y and is should have 1 
                  {'address':{"$regex": "1"}},
                  {'name':{"$ne": "Nicky"}}
                  ]}
result = student.find(query)
for x in result:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [178]:
query = {'$and':[{'address':{"$regex": "^Y"}},   ### Addresss starts with Y and is should have 1 
                  {'address':{"$regex": "1"}},
                  {'name': {"$regex": "^(?![N])"}}
                  ]}
result = student.find(query)
for x in result:
    print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}

##### *OR Operator*

In [157]:
query = {'$or':[{'program':'AIML'},             ### OR operator with multiple conditions
                {'Name':'Prabhjeet'}]}
result = student.find(query)
for x in result:
    print(x)

{'_id': ObjectId('647ab4b8d200223376e712bf'), 'Name': 'Prabhjeet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c0'), 'Name': 'Rahul', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c1'), 'Name': 'Dev', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647bb277d200223376e712c2'), 'Name': 'Jagpreet', 'program': 'AIML', 'city': 'Toronto'}
{'_id': '647ab4b8d200223376e712bf', 'Name': 'Sumit', 'program': 'AIML', 'city': 'Toronto'}
{'_id': "ObjectId('647e6144653f9587f7d551a2')", 'Name': 'Sumit1', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647e7c2a653f9587f7d551a3'), 'Name': 'ALLen', 'program': 'AIML', 'city': 'Toronto'}
{'_id': ObjectId('647e7c30653f9587f7d551a4'), 'Name': 'Aleen', 'program': 'AIML', 'city': 'Toronto'}

In [141]:
query = {'name':{"$regex": "^s|^p", '$options' : 'i'}}  ### Combining two conditions
result = student.find(query)
for x in result:
    print(x)

{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}

In [139]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]
student.insert_many(mylist)

In [144]:
query = {'$or':[{'name':{"$regex": "^s|^p", '$options' : 'i'}},{'_id':{'$lt':5}}]}
result = student.find(query)
for x in result:
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}