In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('reviews.csv')

In [5]:
df.head(3)

,Unnamed: 0,spoilers,rating,title,user,date,content
0,0,True,10/10,Some birds aren\'t meant to be caged.,hitchcockthelegend,24 July 2010,The Shawshank Redemption is written and direct...
1,1,False,10/10,An incredible movie. One that lives with you.,Sleepin_Dragon,17 February 2021,It is no wonder that the film has such a high ...
2,2,False,10/10,Don\'t Rent Shawshank.,EyeDunno,21 November 2005,I'm trying to save you money; this is the last...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2494 non-null   int64
 1   spoilers    2494 non-null   bool
 2   rating      2186 non-null   object
 3   title       2494 non-null   object
 4   user        2494 non-null   object
 5   date        2494 non-null   object
 6   content     2494 non-null   object
dtypes: bool(1), int64(1), object(5)
memory usage: 119.5+ KB

In [15]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2494 entries, 0 to 2493
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   spoilers  2494 non-null   bool
 1   rating    2186 non-null   object
 2   title     2494 non-null   object
 3   user      2494 non-null   object
 4   date      2494 non-null   object
 5   content   2494 non-null   object
dtypes: bool(1), object(5)
memory usage: 100.0+ KB

In [17]:
df.head(3)

,spoilers,rating,title,user,date,content
0,True,10/10,Some birds aren\'t meant to be caged.,hitchcockthelegend,24 July 2010,The Shawshank Redemption is written and direct...
1,False,10/10,An incredible movie. One that lives with you.,Sleepin_Dragon,17 February 2021,It is no wonder that the film has such a high ...
2,False,10/10,Don\'t Rent Shawshank.,EyeDunno,21 November 2005,I'm trying to save you money; this is the last...

In [25]:
#df['user'].value_counts()
df['user'].nunique()

1392