In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
tfidf = TfidfVectorizer()
text_data = np.array(['I Love Brazil, Brazil!','Sweden is best','Germany beats both'])

In [4]:
feature_matrix = tfidf.fit_transform(text_data)
print(feature_matrix.toarray())

[[0.         0.         0.         0.89442719 0.         0.
  0.4472136  0.        ]
 [0.         0.57735027 0.         0.         0.         0.57735027
  0.         0.57735027]
 [0.57735027 0.         0.57735027 0.         0.57735027 0.
  0.         0.        ]]

In [5]:
pd.DataFrame(feature_matrix.toarray(), columns = sorted(tfidf.vocabulary_))

     beats     best     both    brazil  germany       is      love   sweden
0  0.00000  0.00000  0.00000  0.894427  0.00000  0.00000  0.447214  0.00000
1  0.00000  0.57735  0.00000  0.000000  0.00000  0.57735  0.000000  0.57735
2  0.57735  0.00000  0.57735  0.000000  0.57735  0.00000  0.000000  0.00000

In [9]:
mystring = 'The 5 countries include China, United States, Indonesia, India,and Brazil'

In [10]:
str = mystring.lower()
print(str)

the 5 countries include china, united states, indonesia, india,and brazil

In [18]:
from nltk.tokenize import word_tokenize
def tokenUpper():
    inputText = input('Enter the string')
    wordToknized = word_tokenize(inputText)
    for i in wordToknized:
        upperCase = i.upper()
        print(upperCase)
    for i in wordToknized:
        upperCase = i.capitalize()
        print(upperCase)


tokenUpper()

THE
5
COUNTRIES
INCLUDE
CHINA
,
UNITED
STATES
,
INDONESIA
,
INDIA
,
AND
BRAZIL
The
5
Countries
Include
China
,
United
States
,
Indonesia
,
India
,
And
Brazil

In [19]:
import re
mystring = 'Box A has 4 red and 6 white balls, while Box B has 3 red and 5 blue balls'
output = re.sub(r'\d+','',mystring)
print(output)

Box A has  red and  white balls, while Box B has  red and  blue balls

In [22]:
import string
mystring = 'You, {]$%are amazing students:at@@! at 123 @Lambton college ! ;'
test_str = mystring.translate(str.maketrans('','',string.punctuation))
print(test_str)

You are amazing studentsat at 123 Lambton college

In [35]:
# !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
new_string = re.sub(r'[^\w\s]', '', mystring)
#new_string = re.sub(r'[\d+]', '', new_string)
print(new_string)

You are amazing studentsat at 123 Lambton college